.FunDooNotes{
    margin: auto;
  margin-left: 5%;
  margin-top: 35%;
  font-size: 20pt;
  margin-bottom: 10%;
  
  }
  .line-break {
      width: 100%;
    }
  div{
    padding-bottom: 5px;
  }
  
  .container {
    display: flex;  
    flex-direction: column;
    border-radius: 7px;
    width: 200px;
    padding: 20px;
    margin: auto;
    margin-top: 15px;
    
   
    align-content: center;
    height: max-content;
    padding: 7%;
    justify-content: flex-start
    }
    button{
      float: right;
    }
  .reg{
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;
  }
  
  .div-form{
      width: 30%;
      margin: auto;
      margin-top: 30px;
      border: 1px solid gray;
      border-radius: 10px;
    }
    mat-form-field{
     // padding: 2px;
      padding-left: 0%;
    }
    img{
      
      width: max-content;
      height: max-content;
      object-fit: cover;
      margin-top: 15%;
      margin-left: 4%;
      object-position: 90% 100%;
      padding: auto;
      padding-left: 15%;
    }
  .email{
    width: 100%;
      padding-bottom: 0px;
      margin-bottom: 7px
  
   }
   .password{
    width: 100%;
    margin-bottom: 0px;
   }
  
  
   ::ng-deep .mat-form-field{
    width: inherit;
  }
   ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 3px !important;}
   ::ng-deep .mat-form-field-label-wrapper {
    top: -1.2em;
    padding-top: .84375em;
  }
  
   @media screen and (max-width : 1500px){
    .FunDooNotes{
      margin: auto;
    margin-left: 5%;
    margin-top: 25%;
    font-size: 20pt;
    margin-bottom: 10%;
    
    }
    .mat-focus-indicator, .mat-raised-button .mat-button-base{
      background-color: #3b4ef5ef;
      color: rgb(255, 255, 255);
    }
   #dash-icon{
     display: none;
   }  
   .fname,  .pass{
    margin-right: 0px;}
   }
   ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: rgb(156, 154, 154);
    }
    mat-form-field {
       .mat-hint, input, ::placeholder, .mat-form-field-label  {
          color: rgb(156, 154, 154);
       }
    }}
