

<div class="div-form">
<div class="FunDooNotes">
  <div>
    <mat-card-title  style="padding-left: 30% ;padding-top: 30%;">
    <span class="color-fundoo-F" style="color:#4285F4">F</span>
    <span class="color-fundoo" style="color:#EA4335">u</span>
    <span class="color-fundoo" style="color:#FBBC05">n</span>
    <span class="color-fundoo" style="color:#4285F4">d</span>
    <span class="color-fundoo" style="color:#34A853">o</span>
    <span class="color-fundoo" style="color:#EA4335">o</span>
    </mat-card-title>
  </div>
  <br>
  <div>
    <span style = "font-size: large; padding-left: 22%;">Forgot password</span>
     <img
      src="https://ssl.gstatic.com/accounts/signup/glif/account.svg"
      alt="account-image"
    />
  </div>
   
   
</div>

<form [formGroup]="ForgetForm" (ngSubmit)="forget()">

    <div class="container"> 
  
      <div class="email">
       <!-- <img
      src="https://ssl.gstatic.com/accounts/signup/glif/account.svg"
      alt="account-image"
    /> --> <h3 style=" font-family:inherit;padding-left: 7%; ">Enter registered Email ID</h3>
        <mat-form-field class="user" appearance="outline">
          
          <mat-label >Email</mat-label>
          
          <input matInput placeholder="Enter your mail" formControlName="Email">
         
        </mat-form-field>
      </div>
    
      <!-- <mat-divider [inset]="true"></mat-divider> -->
      <div class="btn-item">

        <button type="submit" mat-raised-button    >Send</button>
       
        
          <button mat-raised-button disabled >Reset Link</button>
        
      </div>
      
    </div>
</form>
</div>
